.MainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.MainContainer_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CreatedAt {
  margin: 10px 10px 10px 10px;
  font-size: 24px;
  color: #0084B4;
}

.TwittText {
  font-size: 20px;
  padding: 10px;
  color: #0084B4;
}

.TwittDetails {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.TwittDetails_twitterLink {
  font-size: 16px;
  margin-right: 10px;
}

.TwittDetails_twitterRetwitts {
  font-size: 16px;
  margin-right: 5px;
  color: #0084B4;
}

.TwittDetails_mentionContainer {
  display: flex;
  flex-wrap: wrap;
}