.TitleContainer {
  display: flex;
  justify-content: center;
  background-color: black;
}

.Title {
  font-size: 40px;
  color: #0084B4;
}

.LinkContainer {
  display: flex;
  justify-content: center;
}

.Link {
  margin-right: 20px;
  font-size: 20px;
}

.AppContainer {
  display: flex;
  padding: 10px 10px 0 10px;
}